spring:
  web:
    cors:
      allowed-origins: "*"
      allowed-methods: GET,POST,PUT,DELETE
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak.local/realms/zbank}
            user-name-attribute: preferred_username
        registration:
          zbankapi:
            provider: keycloak
            client-id: zbankapi
            client-secret: yBxbVdRbMIgOHjEhDaV8aTp8pYl1UXe1
            authorization-grant-type: client_credentials
            scope: openid
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak.local/realms/zbank}
          user-name-attribute: preferred_username
  cloud:
    kubernetes:
      discovery:
        enabled: true
        all-namespaces: false
        metadata:
          addLabels: true
          addAnnotations: true
    openfeign:
      oauth2:
        clientRegistrationId: zbankapi
        enabled: true
  kafka:
    observation:
      enabled: true
    producer:
      acks: all
      retries: 5
      delivery-timeout-ms: 120000
      bootstrap-servers: ${KAFKA_URL:financeapp-kafka:9092}
      key-serializer: org.apache.kafka.common.serialization.UUIDSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  datasource:
    init: never
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    schema: ${SPRING_DATASOURCE_CASH_SCHEMA:"cash_info"}
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    url: ${SPRING_DATASOURCE_URL}
    enabled: false
    default-schema: ${SPRING_DATASOURCE_CASH_SCHEMA:"cash_info"}
    user: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  flyway:
    default-schema: ${SPRING_DATASOURCE_CASH_SCHEMA:"cash_info"}
    schemas: ${SPRING_DATASOURCE_CASH_SCHEMA:"cash_info"}
    baseline-on-migrate: false
keycloak:
  server-url: ${KEYCLOAK_SERVER_URL:http://keycloak.local/}
  realm: ${KEYCLOAK_SERVER_REALM:zbank}
  username: ${KEYCLOAK_SERVER_USERNAME:gatekeeper}
  password: ${KEYCLOAK_SERVER_PASSWORD:swordfish}
client:
  service:
    account: ${spring.release.name:financeapp}-account-service
    audit: ${spring.release.name:financeapp}-audit-service
    notification: ${spring.release.name:financeapp}-notification-service
management:
  zipkin:
    tracing:
      endpoint:  http://${spring.release.name:financeapp}-zipkin:9411/api/v2/spans # Эндпоинт Zipkin для приёма спанов
  tracing:
    sampling:
      probability: 1 # Сэмплируем все запросы