spring:
  web:
    cors:
      allowed-origins: "*"
      allowed-methods: GET,POST,PUT,DELETE
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak.local/realms/zbank}
            user-name-attribute: preferred_username
        registration:
          keycloak:
            provider: keycloak
            client-id: zbankapp
            client-secret: g3WnFjX9r8zxmhlY7yILHV5hZ3RtLUjw
            client-name: zbankapp
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile, email
          zbankapi:
            provider: keycloak
            client-id: zbankapi
            client-secret: yBxbVdRbMIgOHjEhDaV8aTp8pYl1UXe1
            authorization-grant-type: client_credentials
            scope: openid
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak.local/realms/zbank}
          user-name-attribute: preferred_username
  kafka:
    producer:
      acks: all
      retries: 5
      delivery-timeout-ms: 120000
      bootstrap-servers: ${KAFKA_URL:financeapp-kafka:9092}
      key-serializer: org.apache.kafka.common.serialization.UUIDSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  cloud:
    kubernetes:
      discovery:
        enabled: true
        all-namespaces: false
        metadata:
          addLabels: true
          addAnnotations: true
    openfeign:
      oauth2:
        clientRegistrationId: zbankapi
        enabled: true
  datasource:
    init: never
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    schema: ${SPRING_DATASOURCE_TRANSFER_SCHEMA}
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    url: ${SPRING_DATASOURCE_URL}
    enabled: true
    default-schema: ${SPRING_DATASOURCE_TRANSFER_SCHEMA}
    user: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
exceptions:
  insufficientFundsFailure: ${INSUFFICENT_FUNDS_FAILURE:"Insufficient funds"}
  currencyNotFoundFailure: ${CURRENCY_NOT_FOUND_FAILURE:"Currency info not found"}
  accNotFoundFailure: ${ACC_NOT_FOUND_FAILURE:"Password is not updated"}
  incorectSourceAccountFailure: ${INCORRECT_SOURCE_ACCOUNT_FAILURE:"Unable to get currency or account info"}
client:
  service:
    account: ${spring.release.name:financeapp}-account-service
    audit: ${spring.release.name:financeapp}-audit-service
    dictionaries: ${spring.release.name:financeapp}-dictionaries-service
    notification: ${spring.release.name:financeapp}-notification-service
management:
  zipkin:
    tracing:
      endpoint:  http://${spring.release.name:financeapp}-zipkin:9411/api/v2/spans # Эндпоинт Zipkin для приёма спанов
  tracing:
    sampling:
      probability: 1 # Сэмплируем все запросы