<form th:fragment="cash" method="post" th:action="${'/account/'+user.id+'/cash'}">
    <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
        <tr th:if="${cashErrors!=null}" th:each="cashError : ${cashErrors}">
            <td style="color:red;" th:text="${cashError}"/>
        </tr>
        <tr>
            <td style="font-weight:bold;">Наличные</td>
            <td>
                Валюта
                <select name="currencyCode">
                    <option th:each="eachCurrency : ${currencies}" th:value="${eachCurrency.code()}" th:text="${eachCurrency.name}"/>
                </select>
            </td>
            <td>
                <input name="amount" type="number" style="width:100%" required/>
                <input type="hidden" name="status" value="PENDING"/>
                <input type="hidden" name="userId" th:value="${user.id}"/>
            </td>
            <td>
            <td style="text-align:right">
                <button name="operationType" value="CASH_DEPOSIT">Положить</button>
                <button name="operationType" value="CASH_WITHDRAWAL">Снять</button>
            </td>
        </tr>
    </table>
</form>