<form th:fragment="exchange" method="post" th:action="${'/account/'+user.id+'/exchange'}">
    <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
        <tr th:if="${transferErrors!=null}" th:each="transferError : ${transferErrors}">
            <td style="color:red;" th:text="${transferError}"/>
        </tr>
        <tr>
            <td style="font-weight:bold;">Перевод себе</td>
            <td>
                Со счета
                <select name="sourceAccountId">
                    <option th:each="account : ${userAccount}" th:value="${account.getId()}" th:text="${account.getCurrencyCode()}"/>
                </select>
            </td>
            <td>
                На счет
                <select name="targetAccountId">
                    <option th:each="account : ${userAccount}" th:value="${account.getId()}" th:text="${account.getCurrencyCode()}"/>
                </select>
            </td>
            <td>
                <input name="amount" type="number" style="width:100%" required/>
                <input type="hidden" name="status" value="PENDING"/>
                <input type="hidden" name="userId" th:value="${user.id}"/>
            </td>
            <td style="text-align:right">
                <button name="operationType" value="EXCHANGE">Перевести</button>
            </td>
        </tr>
    </table>
</form>