<form th:fragment="transfer" method="post" th:action="${'/account/'+user.id+'/transfer'}">
    <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
        <tr th:if="${transferOtherErrors!=null}" th:each="transferOtherError : ${transferOtherErrors}">
            <td style="color:red;" th:text="${transferOtherError}"/>
        </tr>
        <tr>
            <td style="font-weight:bold;">Перевод другому</td>
            <td>
                Со счета
                <select name="sourceAccountId">
                    <option th:each="account : ${userAccount}" th:value="${account.getId()}" th:text="${account.getCurrencyCode()}"/>
                </select>
            </td>
            <td>
                На счет
                <select id="targetAccountId" name="targetAccountId">
                </select>
            </td>
            <td>
                <input name="amount" type="number" style="width:100%" required/>
                <input type="hidden" name="status" value="PENDING"/>
                <input type="hidden" name="userId" th:value="${user.id}"/>
            </td>
            <td>
                Кому
                <select id="to_login" name="to_login">
                    <option th:id="${'to_user_'+user.getId()}" th:each="user : ${targetUsers}" th:value="${user.getId()}" th:text="${user.getFullName()}"/>
                </select>
            </td>
            <td style="text-align:right">
                <button name="operationType" value="TRANSFER">Перевести</button>
            </td>
        </tr>
    </table>
</form>