<form th:fragment="useraccount" method="post" th:action="${'/user'}" th:method="put">
    <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
        <tr th:if="${userAccountsErrors!=null}" th:each="userAccountsError : ${userAccountsErrors}">
            <td style="color:red;" th:text="${userAccountsError}"/>
        </tr>
        <tr>
            <td style="font-weight:bold;">Фамилия Имя</td>
            <td th:text="${user.fullName}"/>
            <td>
                <input name="fullName" type="text" style="width:100%"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Дата рождения</td>
            <td th:text="${user.dob}"/>
            <td>
                <input name="dob" type="date" style="width:100%"/>
            </td>
        </tr>
        <input name="id" type="hidden" required th:value="${user.id}"/>
        <tr th:each="account : ${accounts}">
            <td style="font-weight:bold;" th:text="${account.getCurrency().getTitle()}"/>
            <td th:text="${account.isExists() ? (account.getValue()+' '+account.getCurrency().name()) : ''}"/>
            <td style="text-align:right">
                <input name="account" type="checkbox" th:checked="${account.isExists()}" th:value="${account.getCurrency().name()}"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:right" colspan="3">
                <button>Сохранить изменения</button>
            </td>
        </tr>
    </table>
</form>